azure-identity==1.6.0
azure-mgmt-compute==24.0.0
azure-mgmt-resource==22.0.0
azure-mgmt-subscription==1.0.0
azure-mgmt-web==23.0.0
azure-mgmt-containerinstance==12.0.0
azure-mgmt-containerservice==19.0.0
azure-mgmt-containerregistry==8.0.0
tqdm==4.62.2
